# Python
__pycache__/
*.py[cod]
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data files
*.csv
*.parquet

# dbt
target/
dbt_packages/
logs/

# Spark
*.log
spark-warehouse/
metastore_db/
derby.log

# Keep YAML configs
!docker-compose.yml
!docker-compose.yaml
